.App {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.title {
  width: 70%;
  height: 5vh;
  padding-left: 0;
}
.title h2 {
  margin-left: 5vw;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.bg {
  flex: 2;
}
.sm {
  flex: 1;
}
#crawlerView {
  height: 88vh;
  width: 100%;
}
#view-section {
  height: 88vh;
  padding: none;
  margin: none;
  overflow: auto;
}
#form-section{
  background: rgb(189, 189, 189);
  padding: 2vw 3vh;
}

.input-link {
  min-width: 20vw;
}
.App-link {
  color: #61dafb;
}
.link_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: inherit;
}
.link_ul .link-col {
  width: 90%;
  display: inline-block;
  height: inherit;
}
.favicon {
  width: 10%!important;
  height: 100%!important;
  text-align: center;
}
.favicon img {
  margin-left: 1vw;
  margin-bottom: 2vh;
}
.thumb {
  width: 100%;
  height: 100%;
}
.crawl-pages, .page-row, .page-links, .link-row ,.page_container, .page-data{
  list-style-type: none;
  width: 85%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.crawl-pages {
  margin: 5vmin!important;
  border-top: 1px solid black;
}
.crawl-pages .page-row {
  width: 100%;
  min-height: 15vh;
  border-bottom: 1px solid black;
}
.page-row .row_container{
  margin: 0;
  padding: 0;
  min-height: inherit;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.page-links {
  border-top: 1px solid black;
  width: 100%;
}
.page-links .link-li {
  width: 85%;
  margin-left: 15%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.page_container {
  width: inherit;
  height: inherit;
  display: flex;
}
.page_container .p-col {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: auto;
}
.p-data {
  min-width: 70%!important;
  min-height: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin: 0!important;
}
.page-index p{
  width: 100%;
  text-align: center;
}

.page-data {
  min-height: inherit;
  margin-top: 2vh;
}
.link-row {
  margin-left: 2vw;
}
.link-row li{
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.page-data li {
  text-align: left;
  margin-left: 2vw;
  padding: 0;
  word-wrap: break-word;
  white-space: normal;
}

.page-data li span, .link-row li span  {
  font-weight: bold;
  margin-right: 2vw;
}


.show-links button {
  cursor: pointer;
  color: rgb(66, 100, 209);
  border: none;
  box-shadow: none;
  background: none;
}
.show-links button:hover {
  color: rgba(25, 25, 125, 1.0);
}



#main-form form label {
  margin: 1vw;
}
#main-form form input {
  text-align: center;
  min-width: 20%;
  min-height: 5vh;
}
#url {
  text-align: left!important;
  padding-left: 1vw;
  min-width: 80%!important;
}
#submit_btn {
  min-width: 60%;
  min-height: 10vh;
  margin: auto;
}
.mt-1 {
  margin-top: 5vh;
}
.mt-3{
  margin-top: 15vh;
}